<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pets! Pets! Pets!</title>
</head>
<body>
    <h1>Pets are great</h1>
    <img src="images/drawn-animal-kawaii-9.jpg" alt="animals">
    <br>
    <a href="https://www.petsmart.com/">Buy pet things here</a>
    <h1>They are super cute and cuddly</h1>
    <p>Do you love pets?</p>
    <ul>
        <li>
            yes <input type="radio">
        </li>
        <li>
            no <input type="radio">
        </li>
    </ul>
    <h2> &#9829; We're sure you checked yes! &#9829;</h2>
    <h3>If you didn't check yes, press alt + F4 to continue...</h3>
    <a href="https://www.sopets.com/">...and Quickly visit this blog with happy dogs and sleepy kitties!</a>
    <br><br>
    <label for="fave">What's your favorite pet? </label>
    <input type="text" name="fave" id="fave">
    <form>
        <label>Comments:</label>
        <textarea rows="10" cols="10">Tell Us why here!!</textarea>
    </form>

</body>
</html>